---
---

$primary-color: #ef4f4f;
$hover-color: #B03A3A;
$bg-color: #f5f5f5;
$header-font: 'Space Mono';
$body-font: 'Nunito Sans';

@import 'components/body';
@import 'components/buttons';
@import 'components/containers';
@import 'components/hero';
@import 'components/mailer_lite';
