---
---

#header {
  background-color: #ef4f4f;
  margin: 0;
  padding: 2em;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 3em;
}

main {
  margin: 2em;
}

ul {
  list-style-type: disc;
  margin-left: 1.5em;
}
