---
title: Moms Learn to Code
layout: page
description: Coding classes made by moms, for moms. So if you're looking to combine learning to code with taking care of the kids - you're in the right place!
---

    <header class="hero hero-homepage">
      <div id="header">
        <a href="/"><img src='images/mltc-logo-plain-white-rectangle.svg' id="logo"></a>
        <nav class="hide">
          <a class="menu-item">About</a>
          <a class="menu-item">Courses</a>
          <a class="menu-item">Contact</a>
        </nav>
      </div>
      <div>
        <h1 class="hero-title overlay">Coding classes made by moms, for moms.</h1>
        <a class="button primary-button" href="#courses">Get started</a>
        <a class="button outline-button hide" href="#">Learn more</a>
      </div>
      <div>
      </div>
    </header>

    <main>
      <div class='container intro big-text'>
        <h2>Power to the parents</h2>
        <p>At Moms Learn to Code, we believe that moms (and dads, by the way) should
          have as much opportunity as anyone else to learn how to code.</p>
        <p>We offer fast, effective & fun learning strategies to make the most of
          your precious time. So if you’re looking to combine learning to code with
          taking care of the kids – you’re in the right place!</p>
      </div>

      <div class="container container-grey features features-2">
        <div class="feature">
          <img src="images/undraw/undraw_Graduation_ktn0.svg" class='feature-svg'>
          <h3>Learn Smart</h3>
          <p>We offer effective learning strategies designed to make the best use of
            your time. By combining psychology and learning we can sky-rocket your
            coding skills.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_Organizing_projects_0p9a.svg" class='feature-svg'>
          <h3>Hands On</h3>
          <p>We believe in learning by doing. With this approach we’ll have you not only
            understanding coding languages and frameworks, but also how to use them.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_wall_post_83ul.svg" class='feature-svg'>
          <h3>Build Live Projects</h3>
          <p>From lesson one you'll be working on your own projects. This means you
            can immediately apply what you’ve learnt to your own website. Super useful.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_partying_p92d.svg" class='feature-svg'>
          <h3>Have fun</h3>
          <p>Having fun while learning makes it sooo much easier. We all know it. We
            keep our classes light & entertaining, while ensuring you gain all the right
            coding knowledge.</p>
        </div>

      </div>

      <div id='courses' class="container courses big-text">
        <h2>Our courses</h2>
        <p>All of our courses are designed to be easy to pick up and put down, to fit
          in with your busy schedule.</p>
      </div>

      <div class="container">
        <div class="course-card">
          <div class="course-text">
            <h3>Web develompent for moms in 60 days</h3>
            <p>Everyone’s talking about coding, but where do you start? One of the
              best ways is by building websites. Whether you want to tweak your business’s
              site, hone your web development skills, or learn to collaborate with developers,
              this will help you get there.</p>
            <ul>
              <li><i class="fas fa-check"></i> Read & Write HTML and CSS</li>
              <li><i class="fas fa-check"></i> Create your own design</li>
              <li><i class="fas fa-check"></i> Launch a website from your own computer</li>
              <li><i class="fas fa-check"></i> Build two live websites</li>
            </ul>
          </div>

          {% include layout_web_dev_course_card.html %}
        </div>

        <div class="course-card">
          <div class="course-text">
            <h3>SEO crash course for business owners</h3>
            <p>Do you want to understand what it takes for search engines to like your
              website? Search Engine Optimization, or SEO, is a powerful way to drive
              targeted traffic to your website and help improve your search rankings.
              In this course you’ll learn SEO that you can immediately apply to your
              own website, with no prior experience required.</p>
            <ul>
              <li><i class="fas fa-check"></i> SEO Strategies</li>
              <li><i class="fas fa-check"></i> Structure websites for SEO optimization</li>
              <li><i class="fas fa-check"></i> On-page & off-page SEO</li>
              <li><i class="fas fa-check"></i> Set up & use Google Analytics</li>
            </ul>
          </div>

          {% include layout_seo_course_card.html %}
        </div>
      </div>

      {% include layout_about_me.html %}
      {% include layout_testimonials.html %}
    </main>

    <script src='assets/js/countdown.js'></script>
    <script src='assets/js/carousel.js'></script>

