---
title: Learn Web Development
layout: page
description: Whether you want to make a site for your business, hone your web development skills, or learn to collaborate with developers, this will help you get there.
---

    <header class="hero hero-course">

      {% include layout_top_navigation.html %}

      <div class="flex-row">
        <div class='hero-left'>
          <h1 class="hero-title">Web development for Moms in 50 days</h1>
          <p>Everyone’s talking about coding, but where do you start? One of the best
          ways is by building websites. Whether you want to make a site for your business,
          hone your web development skills, or learn to collaborate with developers,
          this will help you get there.</p>
        </div>

        <div class="course-info hero-right">
          {% include layout_web_dev_course_card.html %}
          <!-- <a href="#footer" class="button primary-button big">Stay informed</a> -->
          <button href='#footer' class="button primary-button big checkout-button-sku_FkA4plDJKWqJ3B"
            role="link"
            type="button">Register now
          </button>
        </div>

        <div id="error-message"></div>

        <script>
        (function() {
          var stripe = Stripe('pk_live_No4I1hI6Tnl3Qb0SgR7YVbpW00PxOKOWrd');

          var checkoutButtons = document.getElementsByClassName('checkout-button-sku_FkA4plDJKWqJ3B');
          for (const button of checkoutButtons){
            button.addEventListener('click', function () {
              // When the customer clicks on the button, redirect
              // them to Checkout.
              stripe.redirectToCheckout({
                lineItems: [{price: 'sku_FkA4plDJKWqJ3B', quantity: 1}],
                mode: 'payment',
                // Do not rely on the redirect to the successUrl for fulfilling
                // purchases, customers may not always reach the success_url after
                // a successful payment.
                // Instead use one of the strategies described in
                // https://stripe.com/docs/payments/checkout/fulfill-orders
                successUrl: 'https://www.momslearntocode.com/success',
                cancelUrl: 'https://www.momslearntocode.com/canceled',
              })
              .then(function (result) {
                if (result.error) {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, display the localized error message to your customer.
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          }
        })();
        </script>

      </div>
      <div></div>
    </header>

    <main>
      <div class='container intro big-text'>
        <h2>About the course</h2>
        <p>This hands-on course is created especially for parents who don't have much
          time and want to use it effectively. No previous programming experience is
          required, and you can go at a pace that you feel comfortable with.
        All your questions are always welcome!</p>
      </div>

      <div class="container container-grey features features-3">
        <div class="feature">
          <img src="images/undraw/undraw_teacher_35j2.svg" class='feature-svg'>
          <h3>One-to-One</h3>
          <p>We’ll have a one to one private session where I’ll provide feedback on
            your code (2 x 30min session).</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_video_influencer_9oyy.svg" class='feature-svg'>
          <h3>At Your Pace</h3>
          <p>There are videos for every topic, so that you can revisit & recap when you
            have time.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_winners_ao2o.svg" class='feature-svg'>
          <h3>Weekly Challenges</h3>
          <p>We’ll set you fun and engaging weekly challenges to put what you’ve just
            learnt to the test.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_real_time_collaboration_c62i.svg" class='feature-svg'>
          <h3>Live Q&A</h3>
          <p>There’ll be online summary sessions where you’ll have opportunities to
            ask all your burning questions.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_button_style_70y7.svg" class='feature-svg'>
          <h3>Flexible Learning</h3>
          <p>You can decide if you prefer to learn by watching, listening, reading
            or experimenting. Whatever suits you.</p>
        </div>

        <div class="feature">
          <img src="images/undraw/undraw_ask_me_anything_k8o0.svg" class='feature-svg'>
          <h3>Community & Support</h3>
          <p>Our Slack channel is a space for you to ask questions, get support,
            share experiences and meet the rest of the community.</p>
        </div>
      </div>

      <div class="container">
        <div class='intro'>
          <h2>What will you learn</h2>
        </div>
        <div class="course-info course-card">
          <ol>
            <li>HTML, CSS & Bootstrap</li>
            <p>Get started with web development by learning the basics of HTML, the
              essential language of websites. Style the design & layout using CSS and
              Bootstrap.</p>
            <li>Learn how to design a website</li>
            <p>Learn the fundamentals of website design: positioning & sizing of
              elements, selecting colours, fonts, designing buttons, selecting imagery.</p>
            <li>Learn how to use the text editor for coding</li>
            <p>Learn how to use a text editor application on your computer for all of
              your programming projects.</p>
            <li>Learn how to develop your skills beyond this course</li>
            <p>Not only you'll have first two websites to your portfolio, you'll also
              be able to choose the right path to expand your knowledge further.</p>
          </ol>
        </div>
      </div>

      <div class="container container-grey">
        <h2 class="anytime-title">Learn from anywhere, at any time</h2>
        <div class="grid-2">
          <div>
            <p>You can complete the course lessons from the comfort of your couch or
              kitchen table, as long as you have an Internet connection!</p>
            <p><strong>The entire program is completely digital so you can access it from
              anywhere.</strong> You can decide when to watch the lessons and do the challenges.
              And you'll never miss a beat: you will keep the access to the cours materials
              also after the course finishes. So you can review them at your own pace.</p>
            <a href="#" class="button primary-button small hide">Read an interview</a>
          </div>

          <img src="images/moms-learn-to-code-web-development-course.jpg" alt="Working on the computer"
          class="anytime-photo">

        </div>
      </div>

      <div class="container red">
        <h2>Book your place now</h2>
        <div class="flex-row">
          <div class='hero-left'>
            <h3 class="hero-title">Web development for Moms in 50 days</h3>
            <ul>
              <li><i class="fas fa-check"></i> Create your first website</li>
              <li><i class="fas fa-check"></i> Make the most of your free time</li>
              <li><i class="fas fa-check"></i> Start learning to code, immediately</li>
              <li><i class="fas fa-check"></i> Be part of a positive tech community</li>
              <li><i class="fas fa-check"></i> Boost your self-esteem</li>
              <li><i class="fas fa-check"></i> You can do it!</li>
              </ul>
          </div>

          <div class="course-info hero-right">
            {% include layout_web_dev_course_card.html %}
<!--             <a href="#footer" class="button primary-button big">Stay informed</a>
 -->        <button href='#footer' class="button primary-button big checkout-button-sku_FkA4plDJKWqJ3B"
              role="link"
              type="button">Register now
            </button>
          </div>

          <div id="error-message"></div>

          <script>
        (function() {
          var stripe = Stripe('pk_live_No4I1hI6Tnl3Qb0SgR7YVbpW00PxOKOWrd');

          var checkoutButtons = document.getElementsByClassName('checkout-button-sku_FkA4plDJKWqJ3B');
          for (const button of checkoutButtons){
            button.addEventListener('click', function () {
              // When the customer clicks on the button, redirect
              // them to Checkout.
              stripe.redirectToCheckout({
                lineItems: [{price: 'sku_FkA4plDJKWqJ3B', quantity: 1}],
                mode: 'payment',
                // Do not rely on the redirect to the successUrl for fulfilling
                // purchases, customers may not always reach the success_url after
                // a successful payment.
                // Instead use one of the strategies described in
                // https://stripe.com/docs/payments/checkout/fulfill-orders
                successUrl: 'https://www.momslearntocode.com/success',
                cancelUrl: 'https://www.momslearntocode.com/canceled',
              })
              .then(function (result) {
                if (result.error) {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, display the localized error message to your customer.
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
          }
        })();
        </script>
        </div>
      </div>

      <div class="container why">
        <h2>How do I know I'm ready for this course</h2>
        <p><strong>You’re ready for this course if:</strong></p>
        <p>You’re <strong>curious</strong> about web development<br>
          You enjoy <strong>learning new things</strong><br>
          You want to find out if a <strong>tech career</strong> is for you<br>
          You <strong>don’t</strong> need to be good at maths<br>
          You have at least <strong>half an hour a day</strong><br>
          You’re looking for something <strong>interesting</strong> to do</p>
        <p>If your answer is <strong>yes</strong> to most of the above,
        then what are you waiting for?!</p>
      </div>

      {% include layout_about_me.html %}
      {% include layout_testimonials.html %}
    </main>

    <script src='assets/js/countdown.js'></script>
    <script src='assets/js/carousel.js'></script>

