          <div class='time-price'>
            <h4>Course starts</h4>
            <p>14th of February</p>
            <div class='line'></div>
<!--             <h4>Q&A</h4>
            <p>21.10. & 26.10. </p>
            <div class='line'></div>
 -->        <h4>Time</h4>
            <p>3 hours</p>
            <div class='line'></div>
            <h4>Price</h4>
            <p>160 CHF</p>
            <div class='line'></div>
            <h4>Place</h4>
            <p>On-line</p>
            <div class='line'></div>
          </div>

          <div class="time-to-book">
            <p>Registration opens in:</p>
            <p class="countdown" data-countdown-date="Feb 6, 2021 23:59:59"></p>
          </div>

