          <div class='time-price'>
            <h4>Date</h4>
            <p>14. & 16.10.</p>
            <div class='line'></div>
            <h4>Time</h4>
            <p>3 hours</p>
            <div class='line'></div>
            <h4>Price</h4>
            <p>80 CHF</p>
            <div class='line'></div>
          </div>

          <div class="time-to-book">
            <p>Registration opens in:</p>
            <p class="countdown" data-countdown-date="Oct 8, 2020 00:00:00"></p>
          </div>

