    <footer id="footer">
      <div class="container-fluid">
        <a href="https://www.facebook.com/momslearntocode" target="_blank">
          <i class="social-icon fab fa-facebook-f"></i></a>
        <a href="mailto:hi@momslearntocode.com" target="_blank">
          <i class="social-icon fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/company/moms-learn-to-code" target="_blank">
          <i class="fab fa-linkedin-in"></i></a>
        <p>© 2019-2020 Moms learn to code</p>
      </div>
    </footer>
  </body>
</html>
