          <div class='time-price'>
            <h4>Course starts from</h4>
            <p>28th of January 2021</p>
            <div class='line'></div>
            <h4>Time</h4>
            <p>4 hours per week</p>
            <div class='line'></div>
            <h4>Price</h4>
            <p>420 CHF</p>
            <div class='line'></div>
            <h4>Place</h4>
            <p>On-line</p>
            <div class='line'></div>
          </div>

          <div class="time-to-book">
     <!--        <p>Early bird until:</p> -->
            <p>Registration opens in:</p>
            <p class="countdown" data-countdown-date="Jan 27, 2021 23:59:59"></p>
          </div>
