          <div class='time-price'>
<!--             <h4>Course opens</h4>
            <p>28th of January</p>
            <div class='line'></div> -->
            <h4>Time</h4>
            <p>Self-paced</p>
            <div class='line'></div>
            <h4>Price</h4>
            <p>230 CHF</p>
            <div class='line'></div>
<!--             <h4>Early Bird</h4>
            <p>380 CHF</p>
            <div class='line'></div> -->
            <h4>Place</h4>
            <p>On-line</p>
            <div class='line'></div>
          </div>

<!--           <div class="time-to-book">
            <p>Registration closes in:</p>
            <p>Registration opens in:</p>
            <p class="countdown" data-countdown-date="Feb 2, 2021 23:59:59"></p>
          </div> -->
