          <div class='time-price'>
            <h4>Date</h4>
            <p>28.10. - 17.12.</p>
            <div class='line'></div>
            <h4>Time</h4>
            <p>4 hours per week</p>
            <div class='line'></div>
            <h4>Price</h4>
            <p>230 CHF</p>
            <div class='line'></div>
            <h4>Place</h4>
            <p>On-line</p>
            <div class='line'></div>
          </div>

          <div class="time-to-book">
            <p>Registration opens in:</p>
            <p class="countdown" data-countdown-date="Oct 21, 2020 00:00:00"></p>
          </div>
