    <footer id="footer">
      <div class="container container-grey footer-contact">
        <div>
          <h3>Get in touch</h3>
          <a href="mailto:hi@momslearntocode.com"><i class="fas fa-envelope"></i> hi@momslearntocode.com</a>
        </div>
        <div>
          <h3>Follow us</h3>
          <p><a href="https://twitter.com/momslearntocode" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></p>
          <p><a href="https://www.facebook.com/momslearntocode" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p><a href="https://www.linkedin.com/company/moms-learn-to-code" target="_blank">
            <i class="fab fa-linkedin-in"></i> LinkedIn</a></p>
        </div>
        <div>
          <h3>Sign up for updates</h3>
          <div class="ml-form-embed"
            data-account="1165988:j7f7o8g7f4"
            data-form="2406424:x7c8c2"
            style='letter-spacing: 3px !important'>
          </div>
        </div>
      </div>
      <div class="credits">
        <p>© 2019-{{ 'now' | date: '%Y'}} <a href='/'>Moms Learn to Code<a></p>
      </div>
    </footer>
    <script src="https://js.stripe.com/v3"></script>
  </body>
</html>
