      <div class="container testimonials">
        <h2>What parents say</h2>
        <div class="testimonial">
          <p class="testimonial-text">"During the course I fell in love with HTML / CSS by creating my very first
            webpage from scratch. It is great to adapt the newly learned skills to a project and to see it grow
            and take shape as envisioned.
            With her broad knowledge Hana is a great mentor. She creates a fun environment to learn and helps
            always when you get stuck. It’s a great course and I can highly recommend it to anybody that wants to
            learn something new and to broaden their horizon by learning a new skill. I can not thank Hana enough to
            introduce me the world of coding and to be the stepping stone to change my career into Tech...."</p>
          <img src="images/testimonials/elisabeth.jpg" class="avatar" alt="Elisabeth">
          <p class="name">Elisabeth Palander</p>
          <p class="occupation">Junior Software Developer</p>
        </div>

        <div class="testimonial">
          <p class="testimonial-text">"I love how passionate Hana is about creating an exciting learning environment
            in which everyone can get results, while having fun. It's a great feeling to achieve
            success through something you've learned and created from scratch - especially as a
            Mum when so much of your time is spent focused on others. I can highly recommend these
            courses to anyone (Mum or not), looking to learn a practical new skill in an enjoyable and
            supportive way."</p>
          <img src="images/testimonials/melitta.jpg" class="avatar" alt="Melitta">
          <p class="name">Melitta Campbell</p>
          <p class="occupation">Business coach</p>
        </div>

        <div class="testimonial">
          <p class="testimonial-text">"Hana was nice enough to offer to mentor me in the past few months.
            She's been a most helpful mentor; flexible in terms of the timing of our sessions and very
            supportive and knowledgeable regarding the topics I had questions about. I can highly recommend
            her!"</p>
          <img src="images/testimonials/katalin.jpg" class="avatar" alt="Katalin">
          <p class="name">Katalin Karolyi</p>
          <p class="occupation">Communications Manager</p>
        </div>

        <div class="testimonial">
          <p class="testimonial-text">"What an inspiring initiative! Giving Moms the tools to create
          a better future for themselves and their children through learning to code. It’s so important
          not to have to choose between work and bringing up baby, and being able to code is such an
          important skill in today’s world."</p>
          <img src="images/testimonials/ann.jpg" class="avatar" alt="Ann">
          <p class="name">Ann Brown</p>
          <p class="occupation">Founder, Happy Being You</p>
        </div>

        <span class="prev" id="prev">
          <img src="https://img.icons8.com/ios/100/ef4f4f/less-than.png" class='Arrow'/></span>
        <span class="next" id="next">
          <img src="https://img.icons8.com/ios/100/ef4f4f/more-than.png" class='Arrow'/></span>
      </div>
