      <div class="container container-grey about-me-box grid-2">
        <div class='about-me-text'>
         <h2>Hey, I'm Hana!</h2>
          <p>I learnt to code when my first child was born, and you can too. Since I
            was fifteen, I have loved combining teaching with my passions. Learning
            to code made it possible for me to combine family and work life, creating
            great digital products while collaborating with many great people.</p>
          <p>I'm looking forward to to introducing you to the world coding. Let's
            write your first lines of code together.</p>
          <a href="#" class="button primary-button small hide">Read an interview</a>
        </div>
        <div class="about-me-image">
        </div>
      </div>
