<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moms Learn to Code</title>
    <meta name="author" content="Hana Harencarova | Sei Online">
    <meta name="description" content="Programming courses for moms and women.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-138440396-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  </head>
  <body>
