    <footer id="footer">
      <div class="container container-grey footer-contact">
        <div>
          <h3>Get in touch</h3>
          <a href="mailto:hi@momslearntocode.com"><i class="fas fa-envelope"></i> hi@momslearntocode.com</a>
        </div>
        <div>
          <h3>Follow us</h3>
          <p><a href="https://twitter.com/momslearntocode" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></p>
          <p><a href="https://www.facebook.com/momslearntocode" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p><a href="https://www.linkedin.com/company/moms-learn-to-code" target="_blank">
            <i class="fab fa-linkedin-in"></i> LinkedIn</a></p>
        </div>
        <div>
          <h3>Sign up for updates</h3>
          <div class="ml-form-embed"
            data-account="1165988:j7f7o8g7f4"
            data-form="2406424:x7c8c2"
            style='letter-spacing: 3px !important'>
          </div>
        </div>
      </div>
      <div class="credits">
        <p>© 2019-{{ 'now' | date: '%Y'}} <a href='/'>Moms Learn to Code<a></p>
      </div>
    </footer>
    <script type="text/javascript">
      eval(function (p, a, c, k, e, d) { e = function (c) { return c.toString(36) }; if (!''.replace(/^/, String)) { while (c--) { d[c.toString(a)] = k[c] || c.toString(a) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('4 8=9.f;4 6=9.k.m(",");4 2=3.j(\'l\');2.h=\'g/5\';2.d=\'b\';2.e=(\'7:\'==3.i.s?\'7:\':\'u:\')+\'//v.n.w/x/1.5?t=5&c=\'+8+\'&o=\'+6;(3.a(\'p\')[0]||3.a(\'q\')[0]).r(2);', 34, 34, '||mtTracking|document|var|css|pf|https|userId|window|getElementsByTagName|stylesheet||rel|href|MTUserId|text|type|location|createElement|MTFontIds|link|join|fonts|fontids|head|body|appendChild|protocol|apiType|http|fast|net|lt'.split('|'), 0, {}))
    </script>
  </body>
</html>
