<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="author" content="Hana Harencarova | Sei Online">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="Shortcut Icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="business.business" />
    <meta property="og:url" content="https://www.momslearntocode.com" />
    <meta property="og:image" content="https://www.momslearntocode.com/images/hero-moms-learn-to-code.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@momslearntocode" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="https://www.momslearntocode.com/images/hero-moms-learn-to-code.jpg" />

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-138440396-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    <!-- MailerLite Universal -->
    <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1165988', 'j7f7o8g7f4', 'load');
    </script>
    <!-- End MailerLite Universal -->

    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
