body {
  margin: 0;
  font-family: $body-font, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font, sans-serif;

}

h2, h3, h4 {
  text-transform: uppercase;
  color: $primary-color;
  letter-spacing: 3px;
}

h3, h4 {
  font-weight: lighter;
}

h2, h3 {
  font-size: 18px;
  text-align: center;
}

h2 {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, footer svg:hover {
  color: $hover-color;
}

.menu-item {
  padding: 0 5px;
}

.menu-item:hover {
  color: $primary-color;
  font-weight: bold;
}

// Features
.feature-svg {
  height: 130px;
}

.features h3 {
  font-weight: normal;
}

.hide {
  display: none !important;
}
