body {
  margin: 0;
  font-family: $body-font, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font, sans-serif;

}

h2, h3, h4 {
  text-transform: uppercase;
  color: $primary-color;
  letter-spacing: 3px;
}

h3, h4 {
  font-weight: lighter;
}

h2, h3 {
  font-size: 18px;
  text-align: center;
}

h2 {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, footer svg:hover {
  color: $hover-color;
}

.menu-item {
  padding: 0 5px;
}

.menu-item:hover {
  color: $primary-color;
}

// Features
.feature-svg {
  height: 130px;
}

.features h3 {
  font-weight: normal;
}

.hide {
  display: none !important;
}

.line-through {
  text-decoration: line-through;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}


// Navigation

nav {
  color: #fff;
}

.menu-item:hover {
  color: #fff;
}

.menu-item {
  display: inline-block;
}

.menu-item::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #fff;
  transition: 300ms;
}

.menu-item:hover::after {
  width: 100%;
}

// 404
.lost {
  width: 400px;
}

@media only screen and (max-width: 800px) {
  #logo {
    margin-bottom: 2em;
  }

  .menu-item {
    display: block;
  }

  .lost {
    width: 80%;
  }
}
