.button {
  padding: 1em 4em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.primary-button {
  background-color: $primary-color;
}

.outline-button {
  border: 1px solid #fff;
  color: #fff;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.primary-button:hover, .outline-button:hover {
  background-color: $hover-color;
  border: none;
  color: #fff;
}

.big {
  font-size: 18px;
  min-width: 309px;
}

.small {
  font-size: 14px;
  margin: 2em 0;
  display: inline-block;
}
