.container {
  padding: 5% 7%;
  text-align: center;
}

.container-wide {
  padding: 2% 7%;
}

.container-grey {
  background-color: $bg-color;
}

.intro {
  padding: 5% 15%;
  font-size: 1.5em;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18%;
  row-gap: 10%;
  padding: 7% 15%;
}

.about-me-box h2 {
  text-transform: none;
  font-size: 24px;
  font-weight: normal;
}

.course-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 20px 20px 50px;
  margin-bottom: 5%;
  font-weight: light !important;
}

.course-card h3 {
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  font-family: $body-font, sans-serif;

}

.course-text {
  width: 60%;
  min-width: 300px;

}

.course-info {
  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  min-width: 200px;
}
