.container {
  padding: 5% 7%;
}

.container-grey {
  background-color: $bg-color;
}

.red {
  background-color: $primary-color;
}

.red h2, .red h3, .red svg  {
  color: #fff;
}

.red h3 {
  text-transform: none;
  text-align: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-motivation {
  color: #fff;
}

.intro {
  padding: 5% 15%;
  text-align: center;
}

.courses {
  padding: 5% 25%;
}

.big-text {
  font-size: 1.5em;
}

.features {
  display: grid;
  grid-gap: 1em;
  text-align: center;
}

.features-2 {
  grid-template-columns: 1fr 1fr;
  padding: 7% 15%;
}

.features-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  margin: 50px;
}

.about-me-box {
  padding: 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.anytime-title {
  padding-bottom: 3em;
}

.anytime-photo {
  border-radius: 3px;
  box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.08);
  margin-left: 15%;
  width: 90%;
}

.about-me-text {
  text-align: left;
  text-transform: none;
  font-weight: normal;
  grid-column: 1;
  padding: 20% 10%;
  line-height: 1.56;
}

.about-me-text h2 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: lighter;
}

.about-me-image {
  grid-column: 2;
  background-image: url('../images/mltc_with-the-baby.jpg');
  background-position: top center;
  background-size: cover;
  min-height: 500px;
}

.why {
  text-align: center;
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .features-2, .features-3 {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

  h2 {
    margin-bottom: 0;
  }

  .big-text {
    font-size: 1em;
  }

  .container {
    padding: 5%;
  }
  .about-me-image  {
    grid-column: 1;
  }

  .flex-row {
    display: block;
  }

  .grid-2, .features-2, .features-3 {
    grid-template-columns: 1fr;
    }

    .feature {
      margin: 25px 0;
    }

  .anytime-photo {
    margin: 5% auto;
  }

  .anytime-title {
    padding-bottom: 1em;
  }
}
