.credits {
  background-color: $primary-color;
  color: #fff;
  font-size: 0.8em;
  padding: 1px;
  text-align: center;
}

.footer-contact h3 {
  text-transform: none;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer-contact svg {
  font-size: 1.5em;
  color: $primary-color;
  position: relative;
  top: 3px;
}

@media only screen and (max-width: 800px) {
  .footer-contact {
    display: block;
    text-align: center;
  }

  .footer-contact h3 {
  margin-top: 50px;
}
}
