.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../images/hero-moms-learn-to-code.jpeg);
  background-position: 70% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  filter: brightness(95%);
  color: #fff;
  padding: 1em 2em;
  min-height: 500px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 150px;
}

.hero-title {
  max-width: 500px;
  font-family: $body-font, sans-serif;
  font-size: 3em;
  font-weight: bold;
  line-height: .9;
  margin-bottom: 1em;
}

@media only screen and (max-width: 660px) {
  .hero-title {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 2.5em;
  }
}
