#mlb2-2406424.ml-form-embedContainer .ml-form-align-center {
  text-align: left !important;
  margin-top: 30px;
}

#mlb2-2406424.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
  font-family: $body-font !important;
}
